.nav-tabs .nav-link.active {
  color: #5cb3cc;
}

.nav-tabs button {
  background-color: transparent;
}

.tab-content {
  padding: 0.5rem !important;
}

.scanner .card-title {
  text-align: center;
}

.table-sm {
  line-height: 1rem;
}
